extends admin
  

block content
  .app-pane2
    header.header
      .btn Add
    input.article_search(type='text', placeholder='Search')
    ul.article_list
      li.article_list-item Test Article
      li.article_list-item Test Article
      li.article_list-item Test Article
      li.article_list-item Test Article
  .app-pane3
    header.header
    .article_preview