extends master

block content
  .blog_sidebar
    .blog_search
      input(type='text', placeholder='Type a keyword here')
      input(type='button', value='Search')
    ul.articles_list
      h1.articles_list-title Popular
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
    ul.articles_list
      h1.articles_list-title Recent
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
      li.articles_list-item 
        a.articles_list-item_link(href='#')
          .articles_list-item-title Learning Management System
  .blog_articles
    article.article
      header.article-header
        h1 Learning Management Systems
        p posted on
          time(pubdate)  2009-10-09
          |  by
          span.article-author  jsmith
      .article-body
        p Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis.
        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      footer.article-footer
        p
          small Creative Commons Attribution-ShareAlike License
      section.article_comments
        h2 Comments
        article.comment
          .media.comment-media
            .media-img
              img.comment-avatar
            .media-body
              header.comment-header
                span.comment-author Apple Lover
                time(pubdate, datetime='2009-10-10T19:10-08:00')  ~1 hour ago
              p.comment-body I love apples, my favorite kind are Granny Smiths
        article.comment
          .media.comment-media
            .media-img
              img.comment-avatar
            .media-body
              header.comment-header
                span.comment-author Apple Lover
                time(pubdate, datetime='2009-10-10T19:10-08:00')  ~1 hour ago
              p.comment-body I love apples, my favorite kind are Granny Smiths
    article.article
      header.article-header
        h1 Learning Management Systems
        p posted on
          time(pubdate)  2009-10-09
          |  by
          span.article-author  jsmith
      .article-body
        p Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis.
        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
      footer.article-footer
        p
          small Creative Commons Attribution-ShareAlike License
      section.article_comments
        h2 Comments
        article.comment
          .media.comment-media
            .media-img
              img.comment-avatar
            .media-body
              header.comment-header
                span.comment-author Apple Lover
                time(pubdate, datetime='2009-10-10T19:10-08:00')  ~1 hour ago
              p.comment-body I love apples, my favorite kind are Granny Smiths
          .comment-replies
            article.comment
              .media.comment-media
                .media-img
                  img.comment-avatar
                .media-body
                  header.comment-header
                    span.comment-author Apple Lover
                    time(pubdate, datetime='2009-10-10T19:10-08:00')  ~1 hour ago
                  p.comment-body I love apples, my favorite kind are Granny Smiths
        article.comment
          .media.comment-media
            .media-img
              img.comment-avatar
            .media-body
              header.comment-header
                span.comment-author Apple Lover
                time(pubdate, datetime='2009-10-10T19:10-08:00')  ~1 hour ago
              p.comment-body I love apples, my favorite kind are Granny Smiths