extends master

block content
  .container.app-container
    header.app-header
      .logo 529 Inc.
      .nav
        a.nav-link(href='#') Home
        a.nav-link(href='#') Blog
    .app-masthead
    .app-content
      .app-slogan This is where you say something really catchy
      .app-coming
        h1 Coming Soon
        span Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    footer.app-footer
      span Copyright 2013 529 Inc.