.blog_articles {
  overflow: auto;
}

  .article {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
  }

  .article-header {

  }

  .article-author {
    font-weight: bold;
  }

  .article-body {

  }

  .article-footer {

  }

  .article_comments {
    padding: 10px;
  }

  .comment {

  }

  .comment-media {
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
  }

  .comment-avatar {
    background-color: #ddd;
    height: 70px;
    width: 70px;
  }

  .comment-header {

  }

  .comment-author {
    font-weight: bold;
  }

  .comment-body {

  }

  .comment-replies {
    margin-left: 20px;
  }

.blog_sidebar {
  float: left;
  width: 300px;
  padding: 20px;
}

  .blog_search {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }

  .articles_list {
    overflow: auto;
    background-color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .articles_list-title {
    background-color: #ddd;
    padding: 10px 20px;
    margin: 0;
  }

  .articles_list-item {
    list-style: none;
  }

  .articles_list-item_link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 20px;

    &:hover {
      background-color: #eee;
    }
  }

  .articles_list-item_title {

  }