.media {
  overflow: auto;
}

.media-img {
  float: left;
  margin-right: 10px;
}

.media-body {
  overflow: hidden;
  _overflow:visible;
  zoom:1;
}

.pit {
  .box-shadow(inset 1px 1px 3px rgba(0,0,0,0.2));
}